testAppAWS/*.iml
testAppAWS/.idea/
testAppAWS/target/

# Terraform (infra)
infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/terraform.tfstate
infra/**/terraform.tfstate.*
infra/**/crash.log
infra/**/crash.*.log
infra/**/*.tfplan
